<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haloqlinic.fajarfotocopy">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FajarFotocopy"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name=".gudang.report.WebViewReportPengirimanActivity"
            android:exported="true" />
        <activity
            android:name=".gudang.suppliergudang.TransaksiBerhasilGudangActivity"
            android:exported="true" />
        <activity
            android:name=".kepalatoko.mintabarangketo.DetailMintaBarangKetoActivity"
            android:exported="true" />
        <activity
            android:name=".kepalatoko.MainKetoActivity"
            android:exported="true" />
        <activity
            android:name=".kasir.InvoiceLaporanKasirActivity"
            android:exported="true" />
        <activity android:name=".driver.DetailDriverActivity" />
        <activity android:name=".driver.MainDriverActivity" />
        <activity
            android:name=".kasir.transaksikasir.InvoiceKasirActivity"
            android:exported="true" />
        <activity android:name=".gudang.baranggudang.CekStockBarangGudangActivity" />
        <activity android:name=".kasir.transaksikasir.DetailStatusPenjualanActivity" />
        <activity android:name=".kasir.transaksikasir.TransaksiBerhasilActivity" />
        <activity
            android:name=".kasir.transaksikasir.TransaksiKasirActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".kepalatoko.listpengirimanketo.DetailPengirimanKetoActivity" />
        <activity android:name=".kepalatoko.listpengirimanketo.ListPengirimanKetoActivity" />
        <activity android:name=".gudang.kirimbaranggudang.ReportPengirimanGudangActivity" />
        <activity android:name=".adapter.kirimBarang.ReportPengirimanGudangActivity" />
        <activity android:name=".gudang.kirimbaranggudang.DataPengirimanBarangActivity" />
        <activity android:name=".gudang.kirimbaranggudang.TambahStatusPengirimanActivity" />
        <activity android:name=".kasir.transaksikasir.CetakBuktiKasirActivity" />
        <activity android:name=".kasir.transaksikasir.PembayaranKasirActivity" />
        <activity android:name=".kasir.MainKasirActivity" />
        <activity android:name=".kepalatoko.keranjangketo.KeranjangKetoActivity" />
        <activity android:name=".kepalatoko.mintabarangketo.CetakBuktiMintaBarangKetoActivity" />
        <activity android:name=".kepalatoko.mintabarangketo.KeranjangMintaBarangKetoActivity" />
        <activity android:name=".kepalatoko.mintabarangketo.TambahBarangKetoActivity" />
        <activity android:name=".kepalatoko.mintabarangketo.MintaBarangKetoActivity" />
        <activity android:name=".kepalatoko.reporttransaksiketo.CetakBuktiReportKetoActivity" />
        <activity android:name=".kepalatoko.kasirketo.CetakBuktiKasirKetoActivity" />
        <activity android:name=".kepalatoko.keranjangketo.PembayaranKetoActivity" />
        <activity android:name=".kepalatoko.kasirketo.KasirKetoActivity" />
        <activity android:name=".kepalatoko.reporttransaksiketo.ReportTransaksiKetoActivity" />
        <activity android:name=".kepalatoko.HomeKetoActivity" />
        <activity android:name=".gudang.informasigudang.DataInformasiGudangActivity" />
        <activity android:name=".gudang.informasigudang.TambahInformasiGudangActivity" />
        <activity android:name=".gudang.notifikasigudang.DetailNotifikasiGudangActivity" />
        <activity android:name=".gudang.notifikasigudang.NotifikasiGudangActivity" />
        <activity android:name=".gudang.transferbaranggudang.CetakBuktiTransferKirimGudangActivity" />
        <activity android:name=".gudang.kirimbaranggudang.KeranjangKirimBarangGudangActivity" />
        <activity android:name=".gudang.kirimbaranggudang.HasilPencarianKirimBarangGudangActivity" />
        <activity
            android:name=".gudang.kirimbaranggudang.KirimBarangGudangActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".gudang.ReportPengirimanGudangActivity" />
        <activity android:name=".gudang.transferbaranggudang.KeranjangTransferBarangGudangActivity" />
        <activity
            android:name=".gudang.transferbaranggudang.HasilPencarianTransferBarangGudangActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".gudang.transferbaranggudang.TransferBarangGudangActivity" />
        <activity android:name=".LoginSebagaiActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gudang.suppliergudang.CetakBuktiSupplierGudangActivity" />
        <activity android:name=".gudang.suppliergudang.PembayaranSupplierGudangActivity" />
        <activity android:name=".gudang.suppliergudang.KeranjangSupplierGudangActivity" />
        <activity android:name=".gudang.suppliergudang.SupplierGudangActivity" />
        <activity android:name=".gudang.usergudang.DetailDataUserGudangActivity" />
        <activity android:name=".gudang.usergudang.DataUserGudangActivity" />
        <activity android:name=".gudang.usergudang.TambahUserGudangActivity" />
        <activity android:name=".gudang.usergudang.UserGudangActivity" />
        <activity android:name=".gudang.baranggudang.FilterBarangGudangActivity" />
        <activity android:name=".gudang.baranggudang.DetailDataBarangGudangActivity" />
        <activity android:name=".gudang.baranggudang.DataBarangGudangActivity" />
        <activity android:name=".gudang.baranggudang.TambahBarangGudangActivity" />
        <activity android:name=".gudang.baranggudang.TambahKategoriActivity" />
        <activity android:name=".gudang.baranggudang.BarangGudangActivity" />
        <activity android:name=".gudang.tokogudang.DataPertokoGudangActivity" />
        <activity android:name=".gudang.tokogudang.DataTokoGudangActivity" />
        <activity android:name=".gudang.tokogudang.TambahTokoGudangActivity" />
        <activity android:name=".gudang.tokogudang.DetailBarangStockGudangActivity" />
        <activity android:name=".gudang.tokogudang.FilterGudangActivity" />
        <activity android:name=".gudang.tokogudang.CekStockPertokoGudangActivity" />
        <activity android:name=".gudang.tokogudang.CekStockTokoGudangActivity" />
        <activity android:name=".gudang.tokogudang.TokoGudangActivity" />
        <activity android:name=".kepalatoko.kasirketo.InvoiceKetoActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".gudang.MainActivity" />
        <activity
            android:name=".scan.Capture"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>