<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haloqlinic.fajarfotocopy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FajarFotocopy">
        <activity android:name=".gudang.informasigudang.DataInformasiGudangActivity"></activity>
        <activity android:name=".gudang.informasigudang.TambahInformasiGudangActivity" />
        <activity android:name=".gudang.notifikasigudang.DetailNotifikasiGudangActivity" />
        <activity android:name=".gudang.notifikasigudang.NotifikasiGudangActivity" />
        <activity android:name=".gudang.CetakBuktiTransferKirimGudangActivity" />
        <activity android:name=".gudang.kirimbaranggudang.KeranjangKirimBarangGudangActivity" />
        <activity android:name=".gudang.kirimbaranggudang.HasilPencarianKirimBarangGudangActivity" />
        <activity android:name=".gudang.kirimbaranggudang.KirimBarangGudangActivity" />
        <activity android:name=".gudang.ReportPengirimanGudangActivity" />
        <activity android:name=".gudang.transferbaranggudang.KeranjangTransferBarangGudangActivity" />
        <activity android:name=".gudang.transferbaranggudang.HasilPencarianTransferBarangGudangActivity" />
        <activity android:name=".gudang.transferbaranggudang.TransferBarangGudangActivity" />
        <activity android:name=".kepalatoko.LoginKetoActivity" />
        <activity android:name=".kasir.LoginKasirActivity" />
        <activity android:name=".LoginSebagaiActivity" />
        <activity android:name=".SplashScreenActivity" />
        <activity android:name=".gudang.suppliergudang.CetakBuktiSupplierGudangActivity" />
        <activity android:name=".gudang.suppliergudang.PembayaranSupplierGudangActivity" />
        <activity android:name=".gudang.suppliergudang.KeranjangSupplierGudangActivity" />
        <activity android:name=".gudang.suppliergudang.SupplierGudangActivity" />
        <activity android:name=".gudang.usergudang.DetailDataUserGudangActivity" />
        <activity android:name=".gudang.usergudang.DataUserGudangActivity" />
        <activity android:name=".gudang.usergudang.TambahUserGudangActivity" />
        <activity android:name=".gudang.usergudang.UserGudangActivity" />
        <activity android:name=".gudang.baranggudang.FilterBarangGudangActivity" />
        <activity android:name=".gudang.baranggudang.DetailDataBarangGudangActivity" />
        <activity android:name=".gudang.baranggudang.DataBarangGudangActivity" />
        <activity android:name=".gudang.baranggudang.TambahBarangGudangActivity" />
        <activity android:name=".gudang.baranggudang.BarangGudangActivity" />
        <activity android:name=".gudang.tokogudang.DataPertokoGudangActivity" />
        <activity android:name=".gudang.tokogudang.DataTokoGudangActivity" />
        <activity android:name=".gudang.tokogudang.TambahTokoGudangActivity" />
        <activity android:name=".gudang.tokogudang.DetailBarangStockGudangActivity" />
        <activity android:name=".gudang.tokogudang.FilterGudangActivity" />
        <activity android:name=".gudang.tokogudang.CekStockPertokoGudangActivity" />
        <activity android:name=".gudang.tokogudang.CekStockTokoGudangActivity" />
        <activity android:name=".gudang.tokogudang.TokoGudangActivity" />
        <activity android:name=".gudang.LoginActivity" />
        <activity android:name=".gudang.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>